.app-icon-button {
  width: 100%; 
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 8px;
  cursor: pointer;

  &--search {
    background-color: $gold-color;
    border-color: $gold-color;
  }

  &--clear {
    background-color: $gray-color;
    border-color: $gray-color;
  }

  @media (min-width: 768px) {
    max-width: 101px;
  }

  @media (min-width: 1024px) {
    height: 49px;
  }
}